body {
    overflow-x: hidden;
}

nav {
    background-color: rgba(47, 79, 79, 0) !important;
}

/* Search */
.content {
    width: 100% !important;
}

#searchForm {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    max-width: 750px;
    background-color: rgba(47, 79, 79, 0.8);
    padding: 10px;
    border-radius: 10px;
}

#searchBox {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
}

.search-select-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-select-content a {
    width: 12.5%;
    font-size: 20px;
    color: lightgreen;
}

.search-select-content:hover a {
    cursor: pointer;
}

.search-select-content a img {
    color: lightgreen;
}

#go {
    all: unset;
    position: absolute;
    right: 30px;
    top: 30px;
    color: lightgreen;
    font-size: 20px;
}

#mic {
    all: unset;
    position: absolute;
    right: 70px;
    top: 30px;
    color: lightgreen;
    font-size: 20px;
}

#go:hover {
    cursor: pointer;
}

#mic:hover {
    cursor: pointer;
}

#searchBox:-webkit-autofill,
#searchBox:-webkit-autofill:hover,
#searchBox:-webkit-autofill:focus,
#searchBox:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background: transparent;
    color: white;
}

@media screen and (max-width: 700px) {
    #searchForm {
        width: 90%;
    }
}

/* Cards */
.news-row {
    margin: 0 -5px;
}

.news-column {
    float: left;
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.news-row:after {
    content: "";
    display: table;
    clear: both;
}

.news-card {
    text-align: left;
    height: 400px;
}

.news-text {
    position: relative;
    transform: translate(0%, -100%);
}

.news-card .news-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-img {
    height: 400px !important;

}

.news-card .news-text {
    padding: 16px;
}

@media screen and (max-width: 800px) {
    .news-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Tabs */
.tabcontent {
    display: none;
}


/* Login Request */
#loginRequest {
    text-align: center;
    color: lightgreen;
}


/* IFrames */
.iframe-container {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    white-space: nowrap;
}

.phone {
    width: 375px; /* Standard phone width */
    height: 812px; /* Standard phone height */
    display: inline-block;
}