/* Main */
html, body {
    --primary: lightgreen;
    --secondary: darkslategrey;
    --secondaryA: #2f4f4f90;
    --background: rgb(35, 35, 35);
    --text: white;

    --picAvg: ;
    --picInv: ;

    background-color: var(--background);
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: var(--text);
}


/* Topnav */
nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    top: 0;
    z-index: 5;
}

nav a {
    float: left;
    color: var(--primary);
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav a svg rect {
    fill: var(--primary);
}

nav a svg path {
    fill: var(--primary);
}

nav a:hover {
    color: var(--secondary);
}

nav a.active {
    color: var(--secondary);
}

.topnav-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}


/* Header */
header {
    background-image: url('../img/kandersteg-lake.jpg');
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    top: 40%;
    color: var(--primary);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    width: 100%;
}

.content h1 {
    font-size: 500%;
}

.content h3 {
    font-size: 150%;
}


/* Remove a default style */
body a {
    text-decoration: none;
    color: inherit;
}

body a:hover {
    text-decoration: none;
    color: inherit;
}

body a:active {
    text-decoration: none;
    color: inherit;
}

body a:visited {
    text-decoration: none;
    color: inherit;
}


/* Links */
.a {
    text-decoration:none;
    border-bottom: 2px solid var(--primary);
    color: inherit;
    transition-duration: 1s;
}

.a:hover {
    background: var(--primary);
    color: var(--secondary);
    transition-duration: 1s;
}

/* Input */
form {
    display: block;
}

input {
    background-color: transparent;
    width: 300px;
    padding: 14px 28px;
    font-size: 16px;
    color: var(--primary);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary);
}

input::placeholder {
    color: var(--primary);
}


/* Search */
#searchForm {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
    max-width: 750px;
    background-color: var(--secondaryA);
    padding: 10px;
    border-radius: 10px;
}

#searchBox {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
}

.search-select-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-select-content a {
    width: 12.5%;
    font-size: 20px;
    color: var(--primary);
    height: 20px;
}

.search-select-content:hover a {
    cursor: pointer;
}

.search-select-content a svg path {
    fill: var(--primary) !important;
}

.search-select-content a img {
    color: var(--primary);
}

#go {
    all: unset;
    position: absolute;
    right: 30px;
    top: 30px;
    color: var(--primary);
    font-size: 20px;
}

#go svg path {
    fill: var(--primary);
}

#mic {
    all: unset;
    position: absolute;
    right: 70px;
    top: 30px;
    color: var(--primary);
    font-size: 20px;
}

#mic svg path {
    fill: var(--primary);
}

#go:hover {
    cursor: pointer;
}

#mic:hover {
    cursor: pointer;
}

#searchBox:-webkit-autofill,
#searchBox:-webkit-autofill:hover,
#searchBox:-webkit-autofill:focus,
#searchBox:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background: transparent;
    color: white;
}

@media screen and (max-width: 700px) {
    #searchForm {
        width: 90%;
    }
}


/* Input */
select {
    background-color: transparent;
    width: 300px;
    padding: 14px 28px;
    font-size: 16px;
    color: var(--secondary);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary);
}

.main button {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 14px 28px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.main button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}